.card-div
{
    background-color: var(--background--color-3);
    position: absolute;
    top:92vh;
    z-index: 2; 
    width: 100%;    
    
}

.section-card {
    padding-top: 30px;
    display:flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;    
    font-weight: 750;
    padding-bottom: 30px;
   
}

.card-1 {     
    text-align: center;
    padding: 15px 12px 15px 12px;
    width: 24%;
    height: 130px;
    max-height: 100px;
    background-color: var(--background--color-4);   
    margin-bottom: 12px;  
}

.card-div h3
{
    color: var(--font--color-3);
    font-size: 21px;
    font-weight: 800;
}

.card-div p
{
    margin-top: 10px;
    font-size: 17px;
    font-weight: 800; 
}
