.footer-div{
    position: relative;
    background-color: var(--background--color-2);
    top:28vh;
    padding-bottom: 90px;
    color:var(--font--color-1);
    font-weight: 700px;
    word-spacing: 4px;
}

.footer-content-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    padding-top: 20px;
    
    
}

.footer-content-links ul{
    display: flex;
    flex-direction: column;
    justify-content: start;
    list-style: none;
    
}


.footer-content-links a{
    text-decoration: none;
    color:var(--font--color-1);
    
}
    