.purchase-div{
    position: relative;
    background-color: var(--background--color-4);
    top:26vh;
    height: 95vh;
}

.section-purchase-content{
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    font-weight: 750;
    padding-bottom: 30px;
}

.purchase-card {
    border: 2px solid var(--border--color-1);
    box-shadow: 0 4px 8px rgba(71, 71, 71, 0.8), 0 0 15px rgba(255, 255, 255,0.8);
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
    padding-bottom: 5px ;
}


.purchase-card img{
    width: 230px;
    height: 270px;
    display: block;
    border-radius: 2px;
    
}

.purchase-card h3
{  
    font-size: 21px;
    font-weight: 700;
}

.purchase-card span
{
    text-decoration:line-through;
}

.purchase-card button
{
    font-weight: 700;
    border:0 ; 
    background-color: var(--background--color-4); 
    font-size: 15px;
    margin-bottom: 1px;
}