.trainers-div
 {
    position: relative;
    background-color: var(--background--color-3);
    margin-top: 0;
    height: auto;
    padding-bottom: 120px;
}



.section-trainers-content {    
    width: 300px;
    height: 200px;
    margin: auto;
    display: flex ;
    flex-direction: row;
    justify-content: center;
    gap: 110px;
   
}

.trainers-card {
    position: relative;
    z-index: 12;
}

.trainers-card img {
    
    width: 230px;
    height: 270px;
    display: block;
    border: 2px solid var(--border--color-5);
    border-radius: 5px;
    z-index: 12;
}

.shape1, .shape2 {
    position: absolute;
    z-index: -11; /* Şekilleri resmin arkasına yerleştir */
}


.shape1 {
    width: 250px;
    height: 100px;
    background-color: var(--background--color-2);
    bottom: 10px;
    right: -10px;    
    
}

.shape2 {
    width: 70px;
    height: 290px;
    background-color: var(--background--color-2);
    top:-10px;
    left: 80px;
     
    
}


.shape3 {
    position: absolute;
    width: 150px;
    height: 80px;
    background-color: var(--background--color-2);
    bottom: -55px;   
    left: 42px;    
    opacity: 0;    
    z-index: 14;  
    font-size: 15px;
    text-align: center;
    color:var(--font--color-1) ;
    align-content: center;
    font-weight: 700;
   
}

.shape3 span{
    font-size: 12px;
}

.shape4 {
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: var(--background--color-2);
    bottom: -40px;   
    left: 15px;    
    opacity: 0;    
    z-index: 13;       
   
}
.shape5 {
    position: absolute;
    width: 180px;
    height: 50px;
    background-color: var(--background--color-2);
    bottom: -80px;   
    left: 25px;    
    opacity: 0;    
    z-index: -11;       
   
}


 .trainers-card:hover .shape4, .trainers-card:hover .shape3 ,
 .trainers-card:hover .shape5 {
   
    opacity: 1;
}
.trainers-card:hover .shape1 {
    height: 150px;
    bottom: -40px;
}

@media screen and (max-width: 576px) {
    
    .trainers-div
    {    
     max-height: auto;
     padding-bottom: 720px;
       margin-bottom: 1px;
   }
   

.section-trainers-content {    
    position: relative;
    display: flex ;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
    padding-left: 30px;

   
}

.shape1 {
    width: 250px;
    height: 100px;
    background-color: var(--background--color-2);
    bottom: 10px;
    left: -10px;    
    
}
.shape3 {
    position: absolute;
    width: 150px;
    height: 80px;
    background-color: var(--background--color-2);
    bottom: 10px;   
    left: 42px;    
    opacity: 0;    
    z-index: 14;  
    font-size: 15px;
    text-align: center;
    color:var(--font--color-1) ;
    align-content: center;
    font-weight: 700;
   
}
.shape5 {
    position: absolute;
    width: 180px;
    height: 50px;
    background-color: var(--background--color-2);
    bottom: -10px;   
    left: 25px;    
    opacity: 0;    
    z-index: -11;       
   
}

.trainers-card:hover .shape1 {
    height:130px;
    bottom: 30px;
}
    

.shape4 {
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: var(--background--color-2);
    bottom: 20px;   
    left: 15px;    
    opacity: 0;    
    z-index: 13;       
   
}
}