

.header-div {
    align-items: center;
    display: flex;
    justify-content: center;
    flex: row;
    gap: 7rem;
    
}

#header-a { 
    margin-top: 0;  
    position: relative;  
}


#header-img {   
    height: 70px; 
    margin-right: 1rem;
}


#navbar {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin: 0 1rem;
    flex: row;  
    
}

#navbar ul {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

#navbar ul li {
    
    margin: 0 ;
    list-style: none;   
    padding-top: 1rem;
    position: relative;
    height: auto;
    width: 75px;
}

#navbar ul li a {
    text-decoration: none;
    font-size: 13px; 
    color: var(--font--color-1); 
    box-sizing: border-box;
 
}

#navbar ul li a:hover {
    background-color: rgb(213, 226, 24);
    border-radius: 2px;    
    padding: 5px;
    font-size: 11px;
    text-transform: uppercase;    
   
}



