:root {
    --font--color-1:#ffffff;
    --font--color-2:#868686;
    --background--color-1:#000000;
    --background--color-2:#151515;
    --border--color-1:rgba(241, 232, 232, 0.2);
    --border--color-1:rgba(255,255,255,0.15);
    --font-size:15px ;
}
body
{
    font-family:  sans-serif;
    position: relative;
}




